.nav > li {
    width: 100%;
}

.datepicker {
    z-index: 1151 !important;
}

.bank-dataview-th {
    text-align: center;
    vertical-align: middle;
}

/*DataView Header*/
.number-cell {
    width: 5%;
    vertical-align: middle !important;
}

.logo-cell {
    width: 9.9%;
}

.name-cell {
    width: 39.7%;
    max-width: 370px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

.branch-table .name-value-cell {
    max-width: 250px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

.branch-table .location-value-cell {
    max-width: 110px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

.branches-cell {
    width: 10.6%;
}

.status-cell {
    width: 14.9%;
}

.created-cell {
    width: 9.9%;
}

.actions-cell {
    width: 10%;
}

/*DataView Style*/
.number-title-cell {
    width: 5%;
    vertical-align: text-top !important;
    text-align: center;
}

.logo-title-cell {
    width: 10%;
    vertical-align: text-top !important;
}

.name-title-cell {
    width: 40%;
    vertical-align: middle;
    text-align: left;
}

.branches-title-cell {
    width: 10%;
    vertical-align: middle;
    text-align: left;
}

.status-title-cell {
    width: 15%;
    vertical-align: middle;
    text-align: left;
}

.created-title-cell {
    width: 10%;
    vertical-align: top !important;
    text-align: left;
}

.actions-title-cell {
    width: 10%;
    vertical-align: text-top !important;
    text-align: center;
}

.input-filter {
    width: 100%;
    border-radius: 0;
}

span.glyphicon {
    line-height: normal !important;
    top: 0 !important;
}

.col {
    width: 33%;
    float: left;
}

.col-branch-left {
    width: 70%;
}

.col-branch-right {
    width: 30%;
}

.add-branch-fieldset {
    margin-top: 10px;
}

.translation-text {
    width: 350px;
}

/*Add Branch Page*/
html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px; /* Regular padding-left + 1. */
    width: 401px;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#gbqfb {
    background: -moz-linear-gradient(center top, #4387fd, #4683ea) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    height: 30px;
    margin: -5;
    outline: medium none;
    padding: 0;
    width: 85px;
}

.gbqfb {
    -moz-user-select: none;
    border-radius: 2px;
    cursor: pointer !important;
    display: inline-block;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none !important;
}

label {
    font-size: 14px !important;
}

.org-logo > img {
    width: 100% !important;
    height: 100% !important;
}
